{block content}

<h1>{$item->name}</h1>
<p>{$item->detail}</p>
{ifset $variations}
<a n:foreach="$variations as $variation" n:href="Order:item, $item->id, $variation->id">
	{$variation->quantity} - {$variation->price|currency}
	<span>Objednat</span>
</a>
{else}
<a n:href="Order:item, $item->id">
	{$item->quantity} - {$item->price|currency}
	<span>Objednat</span>
</a>
{/ifset}