{var $robots = noindex}

{block #content}

<section class="section-box login">
	<div class="section-box">
		<div class="menu-header">
			<i class="icon-unlock"></i> Přihlášení
		</div>
		{control signInForm}
		<a n:href="up">Nebo se chcete zaregistrovat?</a>
	</div>
</section>