{var $robots = noindex}

{block #content}

<section class="section-box login">
	<div class="section-box">
		<div class="menu-header">
			<a n:href="up"><i class="icon-user"></i> registrace</a>
			<span>Přihlášení</span>
		</div>
		{control signInForm}
	</div>
</section>