{var $robots = noindex}

{block #content}

<section class="section-box login">
	<div class="section-box">
		<div class="menu-header">
			<a n:href="in"><i class="icon-unlock"></i> přihlášení</a>
			<span>Registrace</span>
		</div>
		{control signUpForm}
	</div>
</section>