<section class="section-box login">
	<div class="section-box">
		<a href="#" class="big-btn google-login">
			<i class="icon-google-plus-sign"></i> <span>přihlásit se GOOGLE účet</span>
		</a>
		<a href="#" class="big-btn facebook-login">
			<i class="icon-facebook-sign"></i> <span>přihlásit se FACEBOOK účtem</span>
		</a>
		<a href="#" class="big-btn twitter-login">
			<i class="icon-twitter-sign"></i> <span>přihlásit se TWITTER účtem</span>
		</a>
		<em>please login with this 3 options</em>
	</div>
</section>