<h1>Objednat</h1>
{var $price = 0}
<div n:foreach="$orders as $order">
	{? $price += $order->price}
	{$order->name}{if $order->quantity} - {$order->quantity}{/if} - {$order->price|currency}
	<div n:ifset="$order->extras" n:foreach="$order->extras as $extra">
		{? $price += $extra->price}
		{$extra->name}{if $extra->quantity} - {$extra->quantity}{/if} - {$extra->price|currency}
	</div>
</div>
<div>Celkem: {$price|currency}</div>
<a n:href="Send!">Odeslat</a>