#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			host: localhost
			driver: mysql
			lazy: true
			profiler: true

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days
			save_path: %tempDir%/sessions

		container:
			debugger: true

	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		connection:
			class: DibiConnection(%database%)

		mainMenuRepository: MainMenuRepository
		categoriesRepository: CategoriesRepository
		itemsRepository: ItemsRepository
		itemsVariationsRepository: ItemsVariationsRepository
		ordersRepository: OrdersRepository
		flashMessagesRepository: FlashMessagesRepository
		extrasRepository: ExtrasRepository
		tablesRepository: TablesRepository
		clientsRepository: ClientsRepository

	factories:


production < common:
	parameters:
		database:
			database: developerhubcz2
			username: developerhub.1
			password: BAlon125

development < common:
	parameters:
		database:
			database: b52
			username: root
			password:
