{block content}

<section class="section-box">
	<nav class="section-menu">
		<div class="menu-header">
			<a n:href="Orders:receipt"><i class="icon-circle-arrow-left"></i> </a> <span>Způsob platby</span>
		</div>
		<div class="item-detail">
			<a n:href="Pay! cash" class="btn-order"><i class="icon-chevron-right"></i> HOTOVĚ</a>
			<a n:href="Pay! card" class="btn-order"><i class="icon-chevron-right"></i> KARTOU</a>
		</div>
	</nav>
</section>