{block content}

<section class="section-box">
	<nav class="section-menu">
		<a n:href="Offer:" class="menu-item"><i class="icon-food"></i> jídlo</a>
		<a n:href="Offer:" class="menu-item"><i class="icon-glass"></i> pití</a>
		<a n:href="Offer:" class="menu-item"><i class="icon-coffee"></i> dezert</a>
		<a n:href="News:" class="menu-item"><i class="icon-twitter"></i> novinky</a>
	</nav>
</section>