{block content}

<section class="section-box">
	<nav class="section-menu" n:foreach="$mainMenu as $item">
		<a n:href="{$item->route}" class="menu-item"><i class="icon-{$item->icon}"></i>{$item->name}</a>
	</nav>
</section>