<section class="section-box">
	<!-- Bill counts -->
	<div class="account-lines">
		<div class="lines-five">
			<div class="h-line"></div>
			<div class="v-line"></div>
			<div class="v-line"></div>
			<div class="v-line"></div>
			<div class="v-line"></div>
		</div>
		<div class="lines-five">
			<div class="v-line"></div>
			<div class="v-line"></div>
		</div>
	</div>
</section>