<div class="header-box">
	<nav class="menu" id="menu">
		<a n:href="Menu:default" title="menu"><i class="icon-reorder"></i></a>
	</nav>
	<div class="logo">
		<a n:href="Offer:default" title="Domů">
			<i class="icon-beer"></i> B52
		</a>
	</div>
	<nav class="user" id="user">
		<a n:href="FlashMessages:default" title="user">{$countMessages}</a>
	</nav>
</div>